<?xml version="1.0" encoding="utf-8"?>
<DupFinderOptions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Debug>false</Debug>
  <DiscardCost>70</DiscardCost>
  <DiscardFieldsName>false</DiscardFieldsName>
  <DiscardLiterals>true</DiscardLiterals>
  <DiscardLocalVariablesName>false</DiscardLocalVariablesName>
  <DiscardTypes>false</DiscardTypes>
  <IdlePriority>false</IdlePriority>
  <ExcludeFilesByStartingCommentSubstring />
  <ExcludeCodeRegionsByNameSubstring>
    <Pattern>generated code</Pattern>
  </ExcludeCodeRegionsByNameSubstring>
  <InputFiles />
  <ExcludeFiles>
    <Pattern>.\**\*Generated.cs</Pattern>
    <Pattern>.\**\*.g.cs</Pattern>
    <Pattern>.\**\*.Designer.cs</Pattern>
    <Pattern>.\**\ISONameConversion.cs</Pattern>
  </ExcludeFiles>
  <Properties />
  <NormalizeTypes>false</NormalizeTypes>
  <ShowStats>true</ShowStats>
  <ShowText>true</ShowText>
</DupFinderOptions>